<%- include('../partials/header') %>

<span class='main-header gfont'><%= store.name %> &mdash; Calendar</span>
<hr/>

<div id='calendar-container'>
  <section id='calendar'>
    <%- include('../partials/store-calendar-day', { dayNum: 0 }) %>
    <%- include('../partials/store-calendar-day', { dayNum: 1 }) %>
    <%- include('../partials/store-calendar-day', { dayNum: 2 }) %>
    <%- include('../partials/store-calendar-day', { dayNum: 3 }) %>
    <%- include('../partials/store-calendar-day', { dayNum: 4 }) %>
    <%- include('../partials/store-calendar-day', { dayNum: 5 }) %>
    <%- include('../partials/store-calendar-day', { dayNum: 6 }) %>
  </section>

  <section id='calendar-week-controls'>
    <% if (week === 0) { %>
      <a href='#'>
        <div class='inactive-button'>&laquo; Previous week</div>
      </a>
      <a href='#'>
        <div class='inactive-button'>This week</div>
      </a>
    <% } else { %>
      <a href='/stores/<%= store._id %>/calendar?week=<%= week - 1 %>'>
        <div>&laquo; Previous week</div>
      </a>
      <a href='/stores/<%= store._id %>/calendar?week=0'>
        <div>This week</div>
      </a>
    <% } %>
    <a href='/stores/<%= store._id %>/calendar?week=<%= week + 1 %>'>
      <div>Next week &raquo;</div>
    </a>
  </section>

  <% if (!userIsAdmin) { %>
    <section id='calendar-input-panel'>
      <div class='store-menu'>
        <% if (!bookingActive) { %>
          <div class='store-menu-header gfont'>
            Your upcoming services from <%= store.name %>
          </div>
          <% userGigs.forEach(gig => { %>
            <a
              class='store-link'
              href='/stores/<%= store._id %>/show-gig/<%= gig._id %>'
            >
              &rarr;&nbsp;&nbsp;<%= gig.service.name %> (<%= gig.startTime.toLocaleDateString('en', dateFormat) %>, <%= timeFormat.format(gig.startTime) %> &ndash; <%= timeFormat.format(gig.endTime) %>)
            </a>
          <% }); %>
        <% } else { %>
          <div class='store-menu-header gfont'>
            Confirm your booking with <%= store.name %>
          </div>
          <form
            action='/stores/<%= store._id %>/book-gig/<%= chosenTime._id %>'
            method='POST'
          >
            <label>Choose a service:</label>
            <select name='service'>
              <% store.services.forEach(service => { %>
                <option value='<%= service._id %>'>
                  <%= service.name %> ($<%= service.price %>)
                </option>
              <% }); %>
            </select>
            
            <button type='submit'>Confirm</button>
          </form>
        <% } %>
      </div>
    </section>
  <% } %>
</div>

<%- include('../partials/footer') %>
