<%- include('../partials/header') %>

<span class='main-header gfont'><%= store.name %></span>
<hr/>

<div class='store-menu'>
  <div class='store-menu-header gfont'>Available services</div>
  <% store.services.forEach(service => { %>
    <div class='service'>
      <div class='service-name'>
        <span><%= service.name %></span>
        <% if (userIsAdmin) { %>
          <a href='/stores/<%= store._id %>/services/<%= service._id %>/edit'>
            <div>Edit</div>
          </a>
        <% } %>
      </div>
      <% if (service.description) { %>
        <span class='service-description'><%= service.description %></span>
      <% } %>
      <span class='service-price'>$<%= service.price %></span>
    </div>
  <% }); %>
  <% if (userIsAdmin) { %>
    <a href='/stores/<%= store._id %>/services/new'><div>
      Add a service
    </div></a>
  <% } %>
</div>

<% if (user && !userIsAdmin) { %>
  <div class='store-menu'>
    <div class='store-menu-header gfont'>Client actions</div>
    <% if (store.services.length) { %>
      <a
        class='store-link'
        href='#'
      >&rarr;&nbsp;&nbsp;Book a service</a>
      <hr/>
    <% } %>
    <a
      class='store-link'
      href='#'
    >&rarr;&nbsp;&nbsp;Contact service provider</a>
  <% } %>
</div>

<%- include('../partials/footer') %>
