<div class='calendar-day'>
  <div class='calendar-day-label'>
    <span class='day'><%= days[dayNum].day %></span>
    <span class='date'><%= days[dayNum].month %>/<%= days[dayNum].date %></span>
  </div>
  <div class='calendar-day-field'>
    <% user.availableTimes.forEach(time => { %>
      <% if (time.startTime.toLocaleDateString('en', dateFormat) === `${days[dayNum].month}/${days[dayNum].date}`) { %>
        <% if (time.isSelected) { %>
          <div class='timeslot' style='background-color: white'>
        <% } else { %>
          <div class='timeslot'>
        <% } %>
          <span class='timeslot-time'>
            <%= timeFormat.format(time.startTime) %> &ndash;
            <%= timeFormat.format(time.endTime) %>
          </span>
          <div class='timeslot-stores-list'>
            <% time.forStores.forEach(forStore => { %>
              <span class='timeslot-store'><%= forStore.name %></span>
            <% }); %>
          </div>
          <% if (time.isSelected) { %>
            <p style='margin-top: 0.35vmin'>
              <strong>&laquo; Reserved &raquo;</strong>
            </p>
          <% } else { %>
            <a href='#'><div>Edit</div></a>
          <% } %>
        </div>
      <% } %>
    <% }); %>
  </div>
</div>
