<%- include('../partials/header') %>

<span class='main-header gfont'><%= user.name %> &mdash; Calendar</span>
<hr/>

<section id='calendar'>
  <div class='calendar-day'>
    <div class='calendar-day-label'>
      <span class='day'><%= days[0].day %></span>
      <span class='date'><%= days[0].month %>/<%= days[0].date %></span>
    </div>
  </div>

  <div class='calendar-day'>
    <div class='calendar-day-label'>
      <span class='day'><%= days[1].day %></span>
      <span class='date'><%= days[1].month %>/<%= days[1].date %></span>
    </div>
  </div>

  <div class='calendar-day'>
    <div class='calendar-day-label'>
      <span class='day'><%= days[2].day %></span>
      <span class='date'><%= days[2].month %>/<%= days[2].date %></span>
    </div>
  </div>

  <div class='calendar-day'>
    <div class='calendar-day-label'>
      <span class='day'><%= days[3].day %></span>
      <span class='date'><%= days[3].month %>/<%= days[3].date %></span>
    </div>
  </div>

  <div class='calendar-day'>
    <div class='calendar-day-label'>
      <span class='day'><%= days[4].day %></span>
      <span class='date'><%= days[4].month %>/<%= days[4].date %></span>
    </div>
  </div>

  <div class='calendar-day'>
    <div class='calendar-day-label'>
      <span class='day'><%= days[5].day %></span>
      <span class='date'><%= days[5].month %>/<%= days[5].date %></span>
    </div>
  </div>

  <div class='calendar-day'>
    <div class='calendar-day-label'>
      <span class='day'><%= days[6].day %></span>
      <span class='date'><%= days[6].month %>/<%= days[6].date %></span>
    </div>
  </div>
</section>

<section id='calendar-week-controls'>
  <% if (week === 0) { %>
    <a href='#'>
      <div class='inactive-button'>&laquo; Previous week</div>
    </a>
    <a href='#'>
      <div class='inactive-button'>This week</div>
    </a>
  <% } else { %>
    <a href='/users/<%= user._id %>/calendar?week=<%= week - 1 %>'>
      <div>&laquo; Previous week</div>
    </a>
    <a href='/users/<%= user._id %>/calendar?week=0'>
      <div>This week</div>
    </a>
  <% } %>
  <a href='/users/<%= user._id %>/calendar?week=<%= week + 1 %>'>
    <div>Next week &raquo;</div>
  </a>
</section>

<section id='calendar-input-panel'>

</section>

<%- include('../partials/footer') %>
