<%- include('../partials/header') %>

<span class='main-header gfont'><%= user.name %> &mdash; Calendar</span>
<hr/>

<div id='calendar-container'>
  <section id='calendar'>
    <%- include('../partials/user-calendar-day', { dayNum: 0 }) %>
    <%- include('../partials/user-calendar-day', { dayNum: 1 }) %>
    <%- include('../partials/user-calendar-day', { dayNum: 2 }) %>
    <%- include('../partials/user-calendar-day', { dayNum: 3 }) %>
    <%- include('../partials/user-calendar-day', { dayNum: 4 }) %>
    <%- include('../partials/user-calendar-day', { dayNum: 5 }) %>
    <%- include('../partials/user-calendar-day', { dayNum: 6 }) %>
  </section>

  <section id='calendar-week-controls'>
    <% if (week === 0) { %>
      <a href='#'>
        <div class='inactive-button'>&laquo; Previous week</div>
      </a>
      <a href='#'>
        <div class='inactive-button'>This week</div>
      </a>
    <% } else { %>
      <a href='/users/<%= user._id %>/calendar?week=<%= week - 1 %>'>
        <div>&laquo; Previous week</div>
      </a>
      <a href='/users/<%= user._id %>/calendar?week=0'>
        <div>This week</div>
      </a>
    <% } %>
    <a href='/users/<%= user._id %>/calendar?week=<%= week + 1 %>'>
      <div>Next week &raquo;</div>
    </a>
  </section>
</div>

<section id='calendar-input-panel'>
  <form
    action='/users/<%= user._id %>/available?week=<%= week %>' 
    method='POST'
  >
    <label>Available start time:</label>
    <input name='startTime' type='datetime-local' required/>
    
    <label>Available end time:</label>
    <input name='endTime' type='datetime-local' required/>

    <label>Apply to stores:</label>
    <select name='forStores' multiple required>
      <% stores.forEach(store => { %>
        <option value='<%= store.name %>'><%= store.name %></option>
      <% }); %>
    </select>

    <button type='submit'>Add availability</button>
  </form>
</section>

<%- include('../partials/footer') %>
