<%- include('../partials/header') %>

<span class='main-header gfont'><%= user.name %> &mdash; Calendar</span>
<hr/>

<div id='calendar-container'>
  <section id='calendar'>
    <div class='calendar-day'>
      <div class='calendar-day-label'>
        <span class='day'><%= days[0].day %></span>
        <span class='date'><%= days[0].month %>/<%= days[0].date %></span>
      </div>
      <div class='calendar-day-field'>
        <% user.availableTimes.forEach(time => { %>
          <% if (time.startTime.toLocaleDateString('en', dateFormat) === `${days[0].month}/${days[0].date}`) { %>
            <div class='timeslot'>
              <span class='timeslot-time'>
                <%= timeFormat.format(time.startTime) %> &ndash;
                <%= timeFormat.format(time.endTime) %>
              </span>
              <div class='timeslot-stores-list'>
                <% time.forStores.forEach(forStore => { %>
                  <span class='timeslot-store'><%= forStore.name %></span>
                <% }); %>
              </div>
              <a href='#'><div>Edit</div></a>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>

    <div class='calendar-day'>
      <div class='calendar-day-label'>
        <span class='day'><%= days[1].day %></span>
        <span class='date'><%= days[1].month %>/<%= days[1].date %></span>
      </div>
      <div class='calendar-day-field'>
        <% user.availableTimes.forEach(time => { %>
          <% if (time.startTime.toLocaleDateString('en', dateFormat) === `${days[1].month}/${days[1].date}`) { %>
            <div class='timeslot'>
              <span class='timeslot-time'>
                <%= timeFormat.format(time.startTime) %> &ndash;
                <%= timeFormat.format(time.endTime) %>
              </span>
              <div class='timeslot-stores-list'>
                <% time.forStores.forEach(forStore => { %>
                  <span class='timeslot-store'><%= forStore.name %></span>
                <% }); %>
              </div>
              <a href='#'><div>Edit</div></a>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>

    <div class='calendar-day'>
      <div class='calendar-day-label'>
        <span class='day'><%= days[2].day %></span>
        <span class='date'><%= days[2].month %>/<%= days[2].date %></span>
      </div>
      <div class='calendar-day-field'>
        <% user.availableTimes.forEach(time => { %>
          <% if (time.startTime.toLocaleDateString('en', dateFormat) === `${days[2].month}/${days[2].date}`) { %>
            <div class='timeslot'>
              <span class='timeslot-time'>
                <%= timeFormat.format(time.startTime) %> &ndash;
                <%= timeFormat.format(time.endTime) %>
              </span>
              <div class='timeslot-stores-list'>
                <% time.forStores.forEach(forStore => { %>
                  <span class='timeslot-store'><%= forStore.name %></span>
                <% }); %>
              </div>
              <a href='#'><div>Edit</div></a>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>

    <div class='calendar-day'>
      <div class='calendar-day-label'>
        <span class='day'><%= days[3].day %></span>
        <span class='date'><%= days[3].month %>/<%= days[3].date %></span>
      </div>
      <div class='calendar-day-field'>
        <% user.availableTimes.forEach(time => { %>
          <% if (time.startTime.toLocaleDateString('en', dateFormat) === `${days[3].month}/${days[3].date}`) { %>
            <div class='timeslot'>
              <span class='timeslot-time'>
                <%= timeFormat.format(time.startTime) %> &ndash;
                <%= timeFormat.format(time.endTime) %>
              </span>
              <div class='timeslot-stores-list'>
                <% time.forStores.forEach(forStore => { %>
                  <span class='timeslot-store'><%= forStore.name %></span>
                <% }); %>
              </div>
              <a href='#'><div>Edit</div></a>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>

    <div class='calendar-day'>
      <div class='calendar-day-label'>
        <span class='day'><%= days[4].day %></span>
        <span class='date'><%= days[4].month %>/<%= days[4].date %></span>
      </div>
      <div class='calendar-day-field'>
        <% user.availableTimes.forEach(time => { %>
          <% if (time.startTime.toLocaleDateString('en', dateFormat) === `${days[4].month}/${days[4].date}`) { %>
            <div class='timeslot'>
              <span class='timeslot-time'>
                <%= timeFormat.format(time.startTime) %> &ndash;
                <%= timeFormat.format(time.endTime) %>
              </span>
              <div class='timeslot-stores-list'>
                <% time.forStores.forEach(forStore => { %>
                  <span class='timeslot-store'><%= forStore.name %></span>
                <% }); %>
              </div>
              <a href='#'><div>Edit</div></a>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>

    <div class='calendar-day'>
      <div class='calendar-day-label'>
        <span class='day'><%= days[5].day %></span>
        <span class='date'><%= days[5].month %>/<%= days[5].date %></span>
      </div>
      <div class='calendar-day-field'>
        <% user.availableTimes.forEach(time => { %>
          <% if (time.startTime.toLocaleDateString('en', dateFormat) === `${days[5].month}/${days[5].date}`) { %>
            <div class='timeslot'>
              <span class='timeslot-time'>
                <%= timeFormat.format(time.startTime) %> &ndash;
                <%= timeFormat.format(time.endTime) %>
              </span>
              <div class='timeslot-stores-list'>
                <% time.forStores.forEach(forStore => { %>
                  <span class='timeslot-store'><%= forStore.name %></span>
                <% }); %>
              </div>
              <a href='#'><div>Edit</div></a>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>

    <div class='calendar-day'>
      <div class='calendar-day-label'>
        <span class='day'><%= days[6].day %></span>
        <span class='date'><%= days[6].month %>/<%= days[6].date %></span>
      </div>
      <div class='calendar-day-field'>
        <% user.availableTimes.forEach(time => { %>
          <% if (time.startTime.toLocaleDateString('en', dateFormat) === `${days[6].month}/${days[6].date}`) { %>
            <div class='timeslot'>
              <span class='timeslot-time'>
                <%= timeFormat.format(time.startTime) %> &ndash;
                <%= timeFormat.format(time.endTime) %>
              </span>
              <div class='timeslot-stores-list'>
                <% time.forStores.forEach(forStore => { %>
                  <span class='timeslot-store'><%= forStore.name %></span>
                <% }); %>
              </div>
              <a href='#'><div>Edit</div></a>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>
  </section>

  <section id='calendar-week-controls'>
    <% if (week === 0) { %>
      <a href='#'>
        <div class='inactive-button'>&laquo; Previous week</div>
      </a>
      <a href='#'>
        <div class='inactive-button'>This week</div>
      </a>
    <% } else { %>
      <a href='/users/<%= user._id %>/calendar?week=<%= week - 1 %>'>
        <div>&laquo; Previous week</div>
      </a>
      <a href='/users/<%= user._id %>/calendar?week=0'>
        <div>This week</div>
      </a>
    <% } %>
    <a href='/users/<%= user._id %>/calendar?week=<%= week + 1 %>'>
      <div>Next week &raquo;</div>
    </a>
  </section>
</div>

<section id='calendar-input-panel'>
  <form
    action='/users/<%= user._id %>/available?week=<%= week %>' 
    method='POST'
  >
    <label>Available start time:</label>
    <input name='startTime' type='datetime-local' required/>
    
    <label>Available end time:</label>
    <input name='endTime' type='datetime-local' required/>

    <label>Apply to stores:</label>
    <select name='forStores' multiple required>
      <% stores.forEach(store => { %>
        <option value='<%= store.name %>'><%= store.name %></option>
      <% }); %>
    </select>

    <button type='submit'>Add availability</button>
  </form>
</section>

<%- include('../partials/footer') %>
