<%- include('../partials/header') %>

<span class='main-header gfont'><%= user.name %></span>
<hr/>

<div class='store-menu'>
  <span class='gfont'>Stores you manage:</span>
  <hr/>
  <% stores.forEach(store => { %>
    <a
      class='owner-store-link'
      href='/stores/<%= store._id %>'
    >&rarr;&nbsp;&nbsp;<%= store.name %></a>
    <hr/>
  <% }); %>
  <a href='/stores/new'><div>
    Create a new store
  </div></a>
</div>

<div class='store-menu'>
  <span class='gfont'>Service providers you hire:</span>
  <hr/>

  <a href='/stores'><div>
    Browse stores
  </div></a>
</div>

<%- include('../partials/footer') %>
